---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Events from '../components/Events.astro';
import EventTypes from '../components/EventTypes.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Menu />
    <Events />
    <EventTypes />
    <Contact />
  </main>
</Layout>
